*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #4b4b4b;
    width: 100%;
    /* border: 2px solid red; */
}
/* header styling */

.logo-img{
    width: 12vw;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 14vw;
    height: 12vh;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 5vh;
}
.options{
    display: flex;
    gap: 3vw;
    
}
.options a{ 
    text-decoration: none;
    color: #666;
    font-size: 16px;
}
/* header end */

/* main section */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    gap: 4vh;
    
}
.img-1{
    width: 48vw;
    height: 46vh;
}
.main h2{
    text-align: center;
    font-size: 44px;
    line-height: 1.25;
    padding: 20px 0px;
    margin-top: 2vh;
}
.main p{
    font-size: 20px;
}
.main button{
    margin-top: 2vh;
    border: none;
    background-color: #387ed1;
    color:#fff;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

/* Section 2 */
.mains-2{
    display: flex;
    justify-content: center; 
    padding-left: 12vw;
    padding-right: 12vw;
    width: 100%;
    gap: 4vw;
    margin-top:12vh ;
      
}

.img-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    width: 60%;
   
    
}
.img-2 img{
    align-items: center;
    width: 90%;

}
.anch{
    display: flex;
    gap: 6vw;
    text-align: start;
       
}
.anch a{
    color: #387ed1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}
.paras{
    display: flex;
    flex-direction: column;
    width:40%;
    gap: 5vh;
    word-spacing: 4px;
    line-height: 3.5vh;
   
}
.paras h2{
   font-size: 40px;
   line-height: 1.5;
   text-align: start;
   font-weight: 500;
   color: #424242;
}
.paras .p1{
    color: #424242;
     font-weight: 500;
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 1vh;
}
.paras p{
    color:  #666;
    font-size: 16px;
}
/* press section */
.press-logos{
    width: 100%;
    margin-top: 8vh;
    text-align: center;
    align-items: center;
    margin-bottom: 14vh;
}
/* Section 3 pricing and img */
.main-3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12vw;
    padding-left: 12vw
}
.price{
    width: 40%;
    gap: 4vh;
}
.price h2{ 
    font-size: 40px;
   line-height: 1.5;
   text-align: start;
   font-weight: 500;
   color: #424242;
   margin-bottom: 3vh;
}
.price p{
    color:  #666;
    font-size: 16px;
    word-spacing: 4px;    
    line-height: 4.4vh;
    margin-bottom: 3vh;
}
.price a{
    color: #387ed1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}
.pricing-box{
    width: 60%;
    display: flex;
    align-items: center;
 
    gap: 8vw;
   
}
.img-3 {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    width: 18%;
    
}
.pricing-box p{
    font-size: 10px;
    color: #666;
    line-height: 16px;
}

/* section 4 */
.main-4{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12vw;
    padding-left: 12vw;
    gap: 12vw;
    margin-top: 12vh;
}
.img-4{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para{
     width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 3.5vh;
}
.para a{
    text-align: start;
    color: #387ed1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}
.para h2{
    font-size: 40px;
   line-height: 0.4vh;
   text-align: start;
   font-weight: 500;
   color: #424242;
   
   
}
.para p{
    color:  #666;
    font-size: 16px;
    word-spacing: 4px;    
    line-height: 4vh;
    
}