*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #4b4b4b;
    width: 100%;
    /* border: 2px solid red; */
}
/* header styling */

.logo-img{
    width: 12vw;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 14vw;
    height: 12vh;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 5vh;
}
.options{
    display: flex;
    gap: 3vw;
    
}
.options a{ 
    text-decoration: none;
    color: #666;
    font-size: 16px;
}
.options a:hover{
    color: #387ed1;
}
/* header end */

/* main section */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    gap: 4vh;
    
}
.img-1{
    width: 48vw;
    height: 46vh;
}
.main h2{
    text-align: center;
    font-size: 44px;
    line-height: 1.25;
    padding: 20px 0px;
    margin-top: 2vh;
    font-weight: 500;
    color: #424242;
}
.main p{
    font-size: 20px;
}
.main button{
    margin-top: 2vh;
    border: none;
    background-color: #387ed1;
    color:#fff;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.main button:hover{
    background-color: black;
    color: #fff;
}

/* Section 2 */
.mains-2{
    display: flex;
    justify-content: center; 
    padding-left: 12vw;
    padding-right: 12vw;
    width: 100%;
    gap: 4vw;
    margin-top:12vh ;
      
}

.img-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    width: 60%;
   
    
}
.img-2 img{
    align-items: center;
    width: 90%;

}
.anch{
    display: flex;
    gap: 6vw;
    text-align: start;
       
}
.anch a{
    color: #387ed1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}
.paras{
    display: flex;
    flex-direction: column;
    width:40%;
    gap: 5vh;
    word-spacing: 4px;
    line-height: 3.5vh;
   
}
.paras h2{
   font-size: 40px;
   line-height: 1.5;
   text-align: start;
   font-weight: 500;
   color: #424242;
}
.paras .p1{
    color: #424242;
     font-weight: 500;
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 1vh;
}
.paras p{
    color:  #666;
    font-size: 16px;
}
/* press section */
.press-logos{
    width: 100%;
    margin-top: 8vh;
    text-align: center;
    align-items: center;
    margin-bottom: 14vh;
    padding-left: 12vw;
    padding-right: 12vw;
}
/* Section 3 pricing and img */
.main-3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12vw;
    padding-left: 12vw
}
.price{
    width: 40%;
    gap: 4vh;
}
.price h2{ 
    font-size: 40px;
   line-height: 1.5;
   text-align: start;
   font-weight: 500;
   color: #424242;
   margin-bottom: 3vh;
}
.price p{
    color:  #666;
    font-size: 16px;
    word-spacing: 4px;    
    line-height: 4.4vh;
    margin-bottom: 3vh;
}
.price a{
    color: #387ed1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}
.pricing-box{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 8vw;
   
}
.img-3 {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    width: 18%;
    
}
.pricing-box p{
    font-size: 10px;
    color: #666;
    line-height: 16px;
}

/* section 4 */
.main-4{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12vw;
    padding-left: 12vw;
    gap: 12vw;
    margin-top: 12vh;
}
.img-4{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para{
     width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 3.5vh;
}
.para a{
    text-align: start;
    color: #387ed1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}
.para h2{
    font-size: 40px;
   line-height: 0.4vh;
   text-align: start;
   font-weight: 500;
   color: #424242;
   
   
}
.para p{
    color:  #666;
    font-size: 16px;
    word-spacing: 4px;    
    line-height: 4vh;
    
}
/* Section 5 */
.main-5{
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}
.main-5 h2{
    text-align: center;
    font-size: 44px;
    line-height: 1.25;
    padding: 20px 0px;
    margin-bottom: 2vh;
    font-weight: 500;
     color: #424242;
}
.main-5 p{
    font-size: 20px;
}
.main-5 button{
    margin-top: 2vh;
    border: none;
    background-color: #387ed1;
    color:#fff;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.main-5 button:hover{
    background-color: black;
    color: #fff;
}
/* Footer Section */
footer{
    background-color: #fbfbfb;
    padding: 30px 0 5px 0;
    border-top: 1px solid #eee;
    margin-top: 12vh;
    width: 100%;
}
.foot{
    display: flex;
    justify-content: center;
    gap: 4vw;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 2vh;
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding-top: 2vh;
}
.icons p{
    color: #666;
    line-height: 2vh;
    font-size: 15px;
    word-spacing: 3px;
}
.icons .imgs{
     width: 10vw;
}
.icons .icon1{
    padding: 10px;
    word-spacing: 10px;
    border-bottom: 2px solid #f2f2f2;
}
.icons .icon2{
    padding: 0px 6px;
    word-spacing: 10px;
}
.lis{
    display: flex;
    gap: 4vw;
}
li{
    display: flex;
    color: #424242;
    line-height: 8vh;
    word-spacing: 10px;
    font-size: 20px;
    font-weight: 500;
}
li a{
    text-decoration: none;
    color: #666;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 2;
}
.fpara{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 10px;
    font-weight: 500;
    font-family: sans-serif  ;
    line-height: 2vh;
    word-spacing: 2px;
    color: #666;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 10px;
    margin-top: 4vh;
}
.foot-link{
    width: 100%;
       
}
.foot-link ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #9b9b9b;
    line-height: 4;
    font-size: 12px;
}
.foot-link li{
    word-spacing: 5px;
}
.foot-link li a{
    color: #9b9b9b;
    line-height: 4;
    font-size: 12px;
    font-weight: 600;
}

/* Signup Section */
.main-signup {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    padding-bottom: 32px;
}
.main-signup h2{
    text-align: center;
    font-size: 44px;
    line-height: 1.25;
    padding: 20px 0px;
    margin-top: 2vh;
    font-weight: 500;
    color: #424242;
}
.main-signup p{
    font-size: 20px;
}
.sign-Up{
    width: 100%;
    display: flex;
    gap: 4vw;
     /* border: 2px solid red; */
     margin-top: 2vh;
}
.sign-Up img{
     /* border: 2px solid red; */
    padding-left: 12vw;
   height: 54vh;

}
.signup-form{
    width: 100%;
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    justify-content: center;
}
.signup-form h3{
    font-size: 36px;
    color: #424242;
    line-height: 3.5vh;
   padding-bottom: 20px;
   font-weight: 500;
}
.signup-form p{
    color: #9b9b9b;
    word-spacing: 6px;
    font-size: 16px;
    padding-bottom: 26px;
}
.signup-form .p1{
    color: #9b9b9b;
    word-spacing: 4px;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 14px;
}
.signup-form input{
    width: 20vw;
    height: 8vh;
    text-align: center;
    font-size: 16px;
}
.sign-Up button{
    width: 8vw;
    height: 6vh;
    margin-top: 2vh;
    border: none;
    background-color: #387ed1;
    color:#fff;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.sign-Up button:hover{
    background-color: black;
    color: #fff;
}
.sign-Up a{
    text-decoration: none;
    padding-top: 12px;
    color: #387ed1;
    font-size: 12px;
    font-weight: 600;
}
.para-sign{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin-top: 4vh;
    padding: 10px;
}
.para-sign p{
    font-size: 12px;
    color: #666;
}
.para-sign a{
    text-decoration: none;
    color: #387ed1;
}



/* About Section */

.heading{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 12vw;
    padding-right: 12vw;
    margin-top: 12vh;
}
.heading .head{
    width:72vw;
    padding-left:  140px;
    padding-right: 140px;
    padding-bottom: 100px;
    line-height: 1.6;
    font-size: 22px;
    text-align: center;
    word-spacing: 2px;
    border-bottom: 1px solid #eee;
}
.head h2{
    font-weight: 500;
    color: #424242;
}

/* paragraph section */
.paragraph{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 16px;
    color: #424242;
    
}
.paragraph .paras1{

    width: 35.5vw;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    padding-left: 70px;
}
.paragraph .paras2{
     
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    width: 35.5vw;
    padding: 20px 50px;
    padding-right: 70px;
}
.paragraph .paras2 p{
   line-height: 1.8;
   word-spacing: 4px;
}
.paragraph .paras1 p{
   line-height: 1.8;
   word-spacing: 4px;
}  
.paragraph .paras2 a{
    text-decoration: none;
    color: #387ed1;
}

/* Ceo Sectios */
.box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 60px 0px;
}
.box h2{
    font-size: 34px;
    font-weight: 500;
}
.boxs{
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 8vh;
    
}
.boxs img{
  
    height: 295px;
    border-radius: 50%;
}
.ceo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
}
.ceo p{
    font-size: 22px;
    font-weight: 400;
    color: #424242;
}
.ceo span{
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.ceo-info{
    width: 40%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    text-align: start;
}
.ceo-info p{
    display: flex;
    flex-direction: row; 
    font-size: 16px;
    line-height: 2;
    gap: 1vw;
}
.ceo-info a{
    text-decoration: none;
    color: #387ed1;
}

/* About  Employees section */
.employee{
    border: 2px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.employee .emp{
    border: 2px solid blue;
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
}
